@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(36, 36, 36);
  padding: 0;
  margin: 0;
}

.navigation {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.text-logo {
  color: yellow;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

nav ul li a:hover {
  color: yellow;
  transition: 0.3s;
}

.content-home {
  color: white;
  text-align: center;
  padding: 140px;
  font-size: 22px;
}

.content-judul {
  text-align: center;
  font-size: 18px;
  color: black;
  background-color: yellow;
  padding: 5px;
  margin-top: 10px;
}

.img-luas img {
  width: 30%;
  float: left;
  margin-top: 30px;
  padding-left: 20px;
}

table {
  color: rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 65%;
  float: right;
  padding: 10px;
  margin-top: 30px;
  padding-left: 20px;
  margin-right: 40px;
}

input {
  width: 98%;
}

.text-hitung {
  color: rgb(24, 24, 24);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 65%;
  font-size: 25px;
  float: right;
  text-align: center;
  margin-top: 30px;
  padding-left: 20px;
  margin-right: 40px;
}

.b-hitung {
  background-color: rgb(0, 110, 255);
  border-radius: 8px;
  border-style: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  width: 10%;
  float: left;
  margin-top: 20px;
  margin-left: 54px;
}
.b-hitung:hover {
  background: rgb(13, 66, 211);
  transition: 0.5s;
}

.button-reset {
  cursor: pointer;
  color: white;
  font-weight: 500;
  background-color: red;
  border-style: none;
  border-radius: 8px;
  padding: 5px;
  width: 10%;
  float: left;
  margin-top: 20px;
  margin-left: 27px;
}
.button-reset:hover {
  background: rgba(231, 0, 0, 0.822);
  transition: 0.5s;
}

.b_ganti {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: yellow;
  float: right;
  font-weight: 500;
  padding: 5px;
  width: 10%;
  border-style: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 40px;
}
.b_ganti:hover {
  background: rgba(255, 255, 0, 0.849);
  transition: 0.5s;
}

#keliling {
  display: none;
}

footer {
  color: rgb(0, 0, 0);
  margin-top: 700px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  background-color: yellow;
}

/* Responsive Mobile css  */
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 10px;
    display: none;
  }

  footer {
    display: none;
  }

  .content-home {
    padding: 10px;
    font-size: 12px;
  }

  .content-judul {
    font-size: 12px;
  }
  .img-luas img {
    width: 100%;
    float: none;
    margin-top: 10px;
    padding-left: 0;
  }

  table {
    width: 100%;
    float: none;
    margin-top: 10px;
    padding-left: 0;
    margin-right: 0;
  }

  .text-hitung {
    width: 100%;
    font-size: 20px;
    float: none;
    margin-top: 5px;
    padding-left: 0;
    margin-right: 0;
  }

  .b-hitung,
  .button-reset {
    width: 30%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
  }
  .b_ganti {
    width: 30%;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 5px;
  }
}
